<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Page Not Found - Personal Finance Manager</title>
    <link rel="stylesheet" th:href="@{/css/error-pages.css}">
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div th:replace="~{fragments/error-fragment :: error-content(
                        code='404', 
                        title='Page Not Found', 
                        message='We couldn\'t find the page you were looking for. The page may have been moved, deleted, or never existed in the first place.', 
                        imageUrl='https://cdn-icons-png.flaticon.com/512/6195/6195678.png')}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
